<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./second.css" />
</head>
<body>
    <div class="container">
        <div class="slider-section">
            <div class="slider-element">
                <p>slide 1</p>
            </div>
            <div class="slider-element">
                <p>slide 2</p>
            </div>
            <div class="slider-element">
                <p>slide 3</p>
            </div>
            <div class="slider-element">
                <p>slide 4</p>
            </div>
            <div class="slider-element">
                <p>slide 5</p>
            </div>
        </div>
        <div class="slider-icons">
            <button class="left-arrow"><span>&#8678;</span></button>
            <button class="right-arrow"><span>&#8680;</span></button>
        </div>
    </div>
    <script src="./second.js"></script>
</body>
</html>