<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./third.css" />
  </head>
  <body>
    <div class="slider">
      <div class="slides">
        <div class="slide active">
          <h2>Slide One</h2>
        </div>
        <div class="slide">
          <h2>Slide Two</h2>
        </div>
        <div class="slide">
          <h2>Slide Three</h2>
        </div>
      </div>

      <button class="nav prev">&#10094;</button>
      <button class="nav next">&#10095;</button>
    </div>
    <script src="./third.js"></script>
  </body>
</html>
